Source: graf32
Maintainer: bilsch01 <bilsch01@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: graf32
Architecture: 32-bit
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: plots periodic graphs in x and y-axes
 graf32 program's instructions are displayed when program is started.
